[submodule "M165"]
	path = M165
	url = https://github.com/JonathanXDR/M165
[submodule "M122"]
	path = M122
	url = https://github.com/JonathanXDR/M122
[submodule "M293"]
	path = M293
	url = https://github.com/JonathanXDR/M293
[submodule "M231"]
	path = M231
	url = https://github.com/JonathanXDR/M231
[submodule "M254"]
	path = M254
	url = https://github.com/JonathanXDR/M254
[submodule "M346"]
	path = M346
	url = https://github.com/JonathanXDR/M346
[submodule "M320"]
	path = M320
	url = https://github.com/JonathanXDR/M320
[submodule "M347"]
	path = M347
	url = https://github.com/JonathanXDR/M347
[submodule "M431"]
	path = M431
	url = https://github.com/JonathanXDR/M431
[submodule "M450"]
	path = M450
	url = https://github.com/JonathanXDR/M450
[submodule "M426"]
	path = M426
	url = https://github.com/JonathanXDR/M426
[submodule "M183"]
	path = M183
	url = https://github.com/JonathanXDR/M183
[submodule "M323"]
	path = M323
	url = https://github.com/JonathanXDR/M323
[submodule "M321"]
	path = M321
	url = https://github.com/JonathanXDR/M321.git
[submodule "M324"]
	path = M324
	url = https://github.com/JonathanXDR/M324.git
