[submodule "M231-Portfolio"]
	path = M231-Portfolio
	url = https://github.com/JonathanXDR/M231-Portfolio
[submodule "M293-Portfolio"]
	path = M293-Portfolio
	url = https://github.com/JonathanXDR/M293-Portfolio
[submodule "M122-Portfolio"]
	path = M122-Portfolio
	url = https://github.com/JonathanXDR/M122-Portfolio.git
[submodule "M426-Portfolio"]
	path = M426-Portfolio
	url = https://github.com/JonathanXDR/M426-Portfolio
